{% extends "::base.html.twig" %}

{% block title %}AppBundle:Subscription:subscribe{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <label for="cvv">CVV Number</label>
    <input type="number" name="cvv" id="cvv">
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
